@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
}

.dark body {
  background:
    radial-gradient(
      circle at top,
      #0b1120,
      #020617 50%,
      #000 100%
    );
}

.starfield {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  filter: blur(1.5px) invert(1);
}

.dark .starfield {
  filter: blur(1.5px) invert(0);
}

.starfield::before,
.starfield::after,
.starfield .stars-large {
  content: "";
  position: absolute;
  inset: 0;
}

.starfield::before {
  width: 1px;
  height: 1px;
  box-shadow:
    53.35vw 37.02vh 0px 0.45px rgba(255,255,255,0.38),
    74.21vw 93.32vh 0px 0.33px rgba(255,255,255,0.58),
    95.48vw 91.68vh 0px 0.25px rgba(255,255,255,0.35),
    20.23vw 65.71vh 0px 0.20px rgba(255,255,255,0.31),
    65.05vw 0.87vh 0px 0.11px rgba(255,255,255,0.61),
    24.17vw 85.32vh 0px 0.01px rgba(255,255,255,0.57),
    53.44vw 17.82vh 0px 0.02px rgba(255,255,255,0.31),
    60.08vw 9.79vh 0px 0.20px rgba(255,255,255,0.59),
    70.44vw 38.66vh 0px 0.27px rgba(255,255,255,0.62),
    61.34vw 6.33vh 0px 0.41px rgba(255,255,255,0.68),
    94.06vw 45.27vh 0px 0.29px rgba(255,255,255,0.41),
    4.15vw 17.17vh 0px 0.23px rgba(255,255,255,0.44),
    45.62vw 46.00vh 0px 0.03px rgba(255,255,255,0.64),
    52.63vw 56.22vh 0px 0.32px rgba(255,255,255,0.46),
    54.37vw 5.69vh 0px 0.07px rgba(255,255,255,0.39),
    24.16vw 95.91vh 0px 0.11px rgba(255,255,255,0.34),
    22.57vw 85.05vh 0px 0.03px rgba(255,255,255,0.55),
    36.29vw 38.73vh 0px 0.38px rgba(255,255,255,0.69),
    42.18vw 81.22vh 0px 0.48px rgba(255,255,255,0.33),
    11.36vw 67.29vh 0px 0.35px rgba(255,255,255,0.62),
    26.58vw 56.50vh 0px 0.41px rgba(255,255,255,0.33),
    69.35vw 55.96vh 0px 0.10px rgba(255,255,255,0.69),
    25.36vw 11.84vh 0px 0.02px rgba(255,255,255,0.69),
    79.95vw 49.01vh 0px 0.22px rgba(255,255,255,0.49),
    96.60vw 97.35vh 0px 0.15px rgba(255,255,255,0.42),
    82.23vw 89.93vh 0px 0.37px rgba(255,255,255,0.55),
    3.27vw 21.00vh 0px 0.26px rgba(255,255,255,0.55),
    49.62vw 18.95vh 0px 0.50px rgba(255,255,255,0.32),
    2.39vw 66.90vh 0px 0.41px rgba(255,255,255,0.57),
    8.80vw 95.25vh 0px 0.47px rgba(255,255,255,0.38),
    30.52vw 59.42vh 0px 0.45px rgba(255,255,255,0.61),
    26.38vw 41.71vh 0px 0.09px rgba(255,255,255,0.47),
    63.73vw 19.01vh 0px 0.04px rgba(255,255,255,0.47),
    52.30vw 62.88vh 0px 0.44px rgba(255,255,255,0.67),
    92.26vw 47.70vh 0px 0.10px rgba(255,255,255,0.40),
    54.75vw 6.43vh 0px 0.44px rgba(255,255,255,0.39),
    26.04vw 97.28vh 0px 0.29px rgba(255,255,255,0.33),
    24.50vw 70.11vh 0px 0.47px rgba(255,255,255,0.33),
    85.71vw 15.31vh 0px 0.09px rgba(255,255,255,0.35),
    45.33vw 61.57vh 0px 0.22px rgba(255,255,255,0.43),
    9.38vw 77.63vh 0px 0.05px rgba(255,255,255,0.46),
    69.09vw 37.29vh 0px 0.24px rgba(255,255,255,0.38),
    17.90vw 83.91vh 0px 0.06px rgba(255,255,255,0.55),
    97.10vw 27.43vh 0px 0.40px rgba(255,255,255,0.37),
    64.30vw 62.98vh 0px 0.24px rgba(255,255,255,0.62),
    85.46vw 71.69vh 0px 0.40px rgba(255,255,255,0.45),
    29.37vw 27.11vh 0px 0.13px rgba(255,255,255,0.61),
    16.56vw 83.34vh 0px 0.22px rgba(255,255,255,0.63),
    21.74vw 50.90vh 0px 0.15px rgba(255,255,255,0.50),
    96.50vw 37.20vh 0px 0.14px rgba(255,255,255,0.64),
    46.60vw 43.54vh 0px 0.14px rgba(255,255,255,0.44),
    56.29vw 44.20vh 0px 0.36px rgba(255,255,255,0.60),
    78.54vw 65.90vh 0px 0.22px rgba(255,255,255,0.33),
    22.84vw 3.11vh 0px 0.03px rgba(255,255,255,0.51),
    27.40vw 18.78vh 0px 0.40px rgba(255,255,255,0.63),
    95.47vw 28.99vh 0px 0.23px rgba(255,255,255,0.57),
    0.72vw 14.53vh 0px 0.33px rgba(255,255,255,0.60),
    38.57vw 64.28vh 0px 0.43px rgba(255,255,255,0.31),
    76.44vw 22.44vh 0px 0.49px rgba(255,255,255,0.38),
    89.11vw 5.03vh 0px 0.44px rgba(255,255,255,0.62),
    92.52vw 1.89vh 0px 0.23px rgba(255,255,255,0.64),
    94.35vw 38.07vh 0px 0.40px rgba(255,255,255,0.64),
    30.54vw 2.52vh 0px 0.47px rgba(255,255,255,0.32),
    11.84vw 38.91vh 0px 0.07px rgba(255,255,255,0.58),
    55.85vw 67.63vh 0px 0.40px rgba(255,255,255,0.62),
    31.42vw 4.12vh 0px 0.42px rgba(255,255,255,0.43),
    13.28vw 75.22vh 0px 0.47px rgba(255,255,255,0.38),
    98.97vw 55.26vh 0px 0.15px rgba(255,255,255,0.38),
    58.19vw 0.34vh 0px 0.20px rgba(255,255,255,0.43),
    23.27vw 29.15vh 0px 0.23px rgba(255,255,255,0.48),
    48.29vw 76.53vh 0px 0.24px rgba(255,255,255,0.37),
    67.42vw 27.95vh 0px 0.05px rgba(255,255,255,0.57),
    95.88vw 99.66vh 0px 0.16px rgba(255,255,255,0.39),
    52.22vw 81.99vh 0px 0.46px rgba(255,255,255,0.63),
    87.61vw 73.04vh 0px 0.39px rgba(255,255,255,0.47),
    60.33vw 2.96vh 0px 0.43px rgba(255,255,255,0.50),
    76.39vw 56.38vh 0px 0.39px rgba(255,255,255,0.58),
    11.19vw 51.55vh 0px 0.17px rgba(255,255,255,0.63),
    4.19vw 3.85vh 0px 0.48px rgba(255,255,255,0.50),
    64.32vw 95.84vh 0px 0.07px rgba(255,255,255,0.53),
    46.22vw 8.98vh 0px 0.39px rgba(255,255,255,0.54),
    86.79vw 43.72vh 0px 0.33px rgba(255,255,255,0.31),
    21.38vw 77.37vh 0px 0.31px rgba(255,255,255,0.41),
    54.25vw 13.60vh 0px 0.39px rgba(255,255,255,0.35),
    76.83vw 6.60vh 0px 0.22px rgba(255,255,255,0.65),
    62.31vw 90.21vh 0px 0.24px rgba(255,255,255,0.43),
    88.32vw 58.72vh 0px 0.07px rgba(255,255,255,0.53),
    38.89vw 19.58vh 0px 0.05px rgba(255,255,255,0.66),
    14.75vw 48.84vh 0px 0.32px rgba(255,255,255,0.50),
    24.67vw 68.71vh 0px 0.39px rgba(255,255,255,0.37),
    14.69vw 88.88vh 0px 0.42px rgba(255,255,255,0.69),
    72.48vw 47.90vh 0px 0.28px rgba(255,255,255,0.60),
    93.27vw 53.38vh 0px 0.36px rgba(255,255,255,0.43),
    16.07vw 12.85vh 0px 0.50px rgba(255,255,255,0.53),
    98.91vw 13.50vh 0px 0.33px rgba(255,255,255,0.66),
    89.95vw 32.26vh 0px 0.01px rgba(255,255,255,0.57),
    65.79vw 19.01vh 0px 0.28px rgba(255,255,255,0.43),
    52.66vw 30.07vh 0px 0.12px rgba(255,255,255,0.32),
    85.90vw 15.95vh 0px 0.01px rgba(255,255,255,0.60),
    8.53vw 32.97vh 0px 0.39px rgba(255,255,255,0.33),
    35.46vw 10.84vh 0px 0.40px rgba(255,255,255,0.46),
    86.19vw 71.34vh 0px 0.06px rgba(255,255,255,0.70),
    18.86vw 14.56vh 0px 0.06px rgba(255,255,255,0.44),
    67.80vw 64.61vh 0px 0.28px rgba(255,255,255,0.54),
    67.55vw 49.78vh 0px 0.07px rgba(255,255,255,0.31),
    28.99vw 9.49vh 0px 0.31px rgba(255,255,255,0.59),
    77.71vw 54.01vh 0px 0.04px rgba(255,255,255,0.38),
    15.15vw 92.43vh 0px 0.07px rgba(255,255,255,0.50),
    27.81vw 53.81vh 0px 0.13px rgba(255,255,255,0.41),
    90.76vw 31.07vh 0px 0.47px rgba(255,255,255,0.67),
    34.96vw 64.14vh 0px 0.17px rgba(255,255,255,0.43),
    46.28vw 91.46vh 0px 0.40px rgba(255,255,255,0.65),
    58.81vw 4.50vh 0px 0.49px rgba(255,255,255,0.46),
    17.20vw 24.05vh 0px 0.32px rgba(255,255,255,0.54),
    98.86vw 2.38vh 0px 0.50px rgba(255,255,255,0.40),
    28.85vw 26.64vh 0px 0.22px rgba(255,255,255,0.60),
    67.10vw 89.30vh 0px 0.04px rgba(255,255,255,0.33),
    62.42vw 46.97vh 0px 0.19px rgba(255,255,255,0.58),
    10.17vw 6.09vh 0px 0.49px rgba(255,255,255,0.60),
    64.18vw 10.25vh 0px 0.39px rgba(255,255,255,0.38),
    20.02vw 20.47vh 0px 0.43px rgba(255,255,255,0.57),
    36.74vw 31.72vh 0px 0.27px rgba(255,255,255,0.65),
    22.24vw 68.02vh 0px 0.03px rgba(255,255,255,0.53),
    32.51vw 76.21vh 0px 0.48px rgba(255,255,255,0.52),
    41.32vw 70.81vh 0px 0.07px rgba(255,255,255,0.34),
    56.27vw 20.49vh 0px 0.23px rgba(255,255,255,0.52),
    5.27vw 84.99vh 0px 0.27px rgba(255,255,255,0.57),
    93.99vw 11.04vh 0px 0.04px rgba(255,255,255,0.49),
    94.80vw 57.92vh 0px 0.24px rgba(255,255,255,0.35),
    46.73vw 82.57vh 0px 0.18px rgba(255,255,255,0.60),
    44.16vw 99.92vh 0px 0.49px rgba(255,255,255,0.43),
    42.61vw 78.31vh 0px 0.28px rgba(255,255,255,0.38),
    52.34vw 32.52vh 0px 0.03px rgba(255,255,255,0.32),
    72.99vw 73.50vh 0px 0.35px rgba(255,255,255,0.54),
    78.07vw 65.03vh 0px 0.17px rgba(255,255,255,0.54),
    79.63vw 92.63vh 0px 0.21px rgba(255,255,255,0.45),
    27.93vw 24.00vh 0px 0.26px rgba(255,255,255,0.35),
    68.41vw 52.35vh 0px 0.45px rgba(255,255,255,0.52),
    78.36vw 65.35vh 0px 0.36px rgba(255,255,255,0.64),
    98.90vw 79.73vh 0px 0.08px rgba(255,255,255,0.34),
    28.78vw 44.06vh 0px 0.25px rgba(255,255,255,0.58),
    79.64vw 81.38vh 0px 0.24px rgba(255,255,255,0.66),
    95.32vw 14.84vh 0px 0.30px rgba(255,255,255,0.54),
    11.75vw 84.88vh 0px 0.04px rgba(255,255,255,0.45),
    42.53vw 93.64vh 0px 0.22px rgba(255,255,255,0.37),
    18.86vw 82.22vh 0px 0.05px rgba(255,255,255,0.42),
    36.31vw 80.60vh 0px 0.02px rgba(255,255,255,0.44),
    24.59vw 49.33vh 0px 0.29px rgba(255,255,255,0.65),
    75.84vw 34.51vh 0px 0.19px rgba(255,255,255,0.35),
    44.45vw 45.41vh 0px 0.00px rgba(255,255,255,0.67),
    38.76vw 26.03vh 0px 0.31px rgba(255,255,255,0.38),
    4.01vw 94.51vh 0px 0.15px rgba(255,255,255,0.68),
    86.13vw 80.59vh 0px 0.39px rgba(255,255,255,0.61),
    56.02vw 62.96vh 0px 0.38px rgba(255,255,255,0.57),
    15.21vw 34.06vh 0px 0.49px rgba(255,255,255,0.36),
    56.97vw 40.26vh 0px 0.30px rgba(255,255,255,0.32),
    88.84vw 99.68vh 0px 0.29px rgba(255,255,255,0.40),
    92.59vw 91.34vh 0px 0.15px rgba(255,255,255,0.53),
    87.52vw 62.64vh 0px 0.47px rgba(255,255,255,0.66),
    69.64vw 10.15vh 0px 0.39px rgba(255,255,255,0.46),
    26.43vw 27.10vh 0px 0.39px rgba(255,255,255,0.46),
    7.97vw 72.46vh 0px 0.42px rgba(255,255,255,0.57),
    18.48vw 71.02vh 0px 0.01px rgba(255,255,255,0.33),
    51.54vw 38.53vh 0px 0.46px rgba(255,255,255,0.43),
    99.55vw 83.70vh 0px 0.23px rgba(255,255,255,0.57),
    85.72vw 60.09vh 0px 0.40px rgba(255,255,255,0.68),
    16.17vw 20.31vh 0px 0.38px rgba(255,255,255,0.48),
    1.56vw 32.91vh 0px 0.09px rgba(255,255,255,0.55),
    34.57vw 56.03vh 0px 0.07px rgba(255,255,255,0.51),
    5.16vw 98.22vh 0px 0.06px rgba(255,255,255,0.65),
    16.89vw 3.48vh 0px 0.41px rgba(255,255,255,0.35),
    4.17vw 64.97vh 0px 0.25px rgba(255,255,255,0.62),
    17.67vw 19.33vh 0px 0.04px rgba(255,255,255,0.54),
    70.87vw 73.71vh 0px 0.05px rgba(255,255,255,0.50),
    1.40vw 66.10vh 0px 0.39px rgba(255,255,255,0.52),
    97.68vw 83.64vh 0px 0.23px rgba(255,255,255,0.57),
    51.93vw 80.49vh 0px 0.01px rgba(255,255,255,0.65),
    64.90vw 80.50vh 0px 0.13px rgba(255,255,255,0.68),
    2.14vw 51.83vh 0px 0.20px rgba(255,255,255,0.62),
    59.19vw 45.30vh 0px 0.31px rgba(255,255,255,0.41),
    45.68vw 26.32vh 0px 0.16px rgba(255,255,255,0.66),
    57.27vw 68.17vh 0px 0.18px rgba(255,255,255,0.69),
    40.82vw 62.69vh 0px 0.06px rgba(255,255,255,0.66),
    33.22vw 77.66vh 0px 0.10px rgba(255,255,255,0.64),
    94.31vw 90.92vh 0px 0.36px rgba(255,255,255,0.48),
    9.95vw 86.44vh 0px 0.40px rgba(255,255,255,0.47),
    80.37vw 66.83vh 0px 0.32px rgba(255,255,255,0.59),
    68.39vw 53.51vh 0px 0.32px rgba(255,255,255,0.57),
    57.56vw 66.75vh 0px 0.39px rgba(255,255,255,0.52),
    62.11vw 63.06vh 0px 0.39px rgba(255,255,255,0.33),
    64.58vw 46.31vh 0px 0.36px rgba(255,255,255,0.32),
    90.65vw 93.97vh 0px 0.08px rgba(255,255,255,0.56),
    24.77vw 89.12vh 0px 0.00px rgba(255,255,255,0.55),
    33.87vw 37.95vh 0px 0.40px rgba(255,255,255,0.34),
    48.92vw 65.28vh 0px 0.06px rgba(255,255,255,0.63),
    73.80vw 98.53vh 0px 0.04px rgba(255,255,255,0.42),
    54.00vw 79.28vh 0px 0.29px rgba(255,255,255,0.43),
    58.92vw 8.90vh 0px 0.20px rgba(255,255,255,0.60),
    36.25vw 79.43vh 0px 0.15px rgba(255,255,255,0.50),
    57.54vw 76.03vh 0px 0.13px rgba(255,255,255,0.31),
    91.05vw 42.29vh 0px 0.41px rgba(255,255,255,0.59),
    24.54vw 55.63vh 0px 0.00px rgba(255,255,255,0.51),
    18.82vw 10.36vh 0px 0.24px rgba(255,255,255,0.45),
    48.06vw 26.82vh 0px 0.30px rgba(255,255,255,0.36),
    12.63vw 47.52vh 0px 0.10px rgba(255,255,255,0.35),
    49.83vw 57.51vh 0px 0.02px rgba(255,255,255,0.45),
    72.18vw 63.02vh 0px 0.32px rgba(255,255,255,0.38),
    19.87vw 17.02vh 0px 0.37px rgba(255,255,255,0.37),
    10.76vw 91.68vh 0px 0.26px rgba(255,255,255,0.62),
    86.03vw 74.26vh 0px 0.14px rgba(255,255,255,0.65),
    56.31vw 70.47vh 0px 0.42px rgba(255,255,255,0.60),
    33.27vw 23.86vh 0px 0.12px rgba(255,255,255,0.52),
    13.27vw 26.93vh 0px 0.15px rgba(255,255,255,0.68),
    51.21vw 83.43vh 0px 0.11px rgba(255,255,255,0.56),
    45.43vw 85.85vh 0px 0.37px rgba(255,255,255,0.61),
    27.95vw 23.86vh 0px 0.19px rgba(255,255,255,0.63),
    48.90vw 27.38vh 0px 0.19px rgba(255,255,255,0.52),
    9.40vw 84.09vh 0px 0.20px rgba(255,255,255,0.63),
    34.88vw 43.68vh 0px 0.25px rgba(255,255,255,0.62),
    97.96vw 8.55vh 0px 0.18px rgba(255,255,255,0.33),
    76.05vw 89.86vh 0px 0.28px rgba(255,255,255,0.64),
    85.52vw 3.12vh 0px 0.28px rgba(255,255,255,0.43),
    70.13vw 79.05vh 0px 0.46px rgba(255,255,255,0.53),
    90.28vw 34.10vh 0px 0.08px rgba(255,255,255,0.42),
    45.79vw 26.85vh 0px 0.34px rgba(255,255,255,0.54),
    18.75vw 89.58vh 0px 0.03px rgba(255,255,255,0.50),
    15.80vw 86.85vh 0px 0.46px rgba(255,255,255,0.58),
    67.11vw 26.46vh 0px 0.39px rgba(255,255,255,0.52),
    65.16vw 56.21vh 0px 0.43px rgba(255,255,255,0.54),
    34.56vw 23.68vh 0px 0.28px rgba(255,255,255,0.42),
    61.98vw 84.11vh 0px 0.31px rgba(255,255,255,0.60),
    64.20vw 23.35vh 0px 0.26px rgba(255,255,255,0.58),
    99.95vw 32.86vh 0px 0.19px rgba(255,255,255,0.45),
    31.72vw 1.62vh 0px 0.22px rgba(255,255,255,0.46),
    83.83vw 90.37vh 0px 0.26px rgba(255,255,255,0.49),
    76.62vw 35.98vh 0px 0.03px rgba(255,255,255,0.44),
    80.35vw 68.88vh 0px 0.30px rgba(255,255,255,0.46),
    68.97vw 82.42vh 0px 0.18px rgba(255,255,255,0.31),
    45.89vw 98.05vh 0px 0.32px rgba(255,255,255,0.53),
    25.28vw 36.31vh 0px 0.18px rgba(255,255,255,0.39),
    35.82vw 55.20vh 0px 0.16px rgba(255,255,255,0.34),
    4.04vw 14.63vh 0px 0.45px rgba(255,255,255,0.59),
    87.36vw 97.03vh 0px 0.11px rgba(255,255,255,0.43),
    52.09vw 19.07vh 0px 0.29px rgba(255,255,255,0.43),
    91.71vw 57.21vh 0px 0.35px rgba(255,255,255,0.31),
    97.45vw 2.07vh 0px 0.08px rgba(255,255,255,0.47),
    89.56vw 12.08vh 0px 0.41px rgba(255,255,255,0.54),
    67.85vw 30.69vh 0px 0.47px rgba(255,255,255,0.59),
    90.31vw 37.47vh 0px 0.18px rgba(255,255,255,0.66),
    11.20vw 93.70vh 0px 0.19px rgba(255,255,255,0.55),
    35.13vw 38.58vh 0px 0.47px rgba(255,255,255,0.52),
    83.93vw 48.24vh 0px 0.48px rgba(255,255,255,0.46),
    96.07vw 10.62vh 0px 0.16px rgba(255,255,255,0.63),
    99.85vw 95.10vh 0px 0.20px rgba(255,255,255,0.60),
    94.06vw 65.21vh 0px 0.45px rgba(255,255,255,0.70),
    21.96vw 99.62vh 0px 0.42px rgba(255,255,255,0.54),
    7.07vw 30.70vh 0px 0.39px rgba(255,255,255,0.50),
    12.86vw 8.33vh 0px 0.42px rgba(255,255,255,0.57),
    93.72vw 31.96vh 0px 0.26px rgba(255,255,255,0.50),
    71.63vw 29.45vh 0px 0.03px rgba(255,255,255,0.33),
    79.48vw 60.47vh 0px 0.36px rgba(255,255,255,0.65),
    28.19vw 28.37vh 0px 0.36px rgba(255,255,255,0.56),
    0.18vw 49.56vh 0px 0.47px rgba(255,255,255,0.49),
    2.12vw 51.20vh 0px 0.25px rgba(255,255,255,0.31),
    11.13vw 50.18vh 0px 0.02px rgba(255,255,255,0.55),
    8.39vw 3.72vh 0px 0.16px rgba(255,255,255,0.35),
    90.04vw 12.48vh 0px 0.18px rgba(255,255,255,0.39),
    92.08vw 91.61vh 0px 0.10px rgba(255,255,255,0.67),
    88.86vw 11.16vh 0px 0.14px rgba(255,255,255,0.54),
    36.85vw 25.55vh 0px 0.50px rgba(255,255,255,0.60),
    12.63vw 7.61vh 0px 0.10px rgba(255,255,255,0.37),
    66.69vw 33.67vh 0px 0.43px rgba(255,255,255,0.43),
    64.45vw 13.07vh 0px 0.21px rgba(255,255,255,0.52),
    41.27vw 83.60vh 0px 0.20px rgba(255,255,255,0.62),
    18.34vw 77.37vh 0px 0.25px rgba(255,255,255,0.38),
    81.22vw 41.52vh 0px 0.17px rgba(255,255,255,0.41),
    74.09vw 68.85vh 0px 0.08px rgba(255,255,255,0.42),
    96.13vw 88.62vh 0px 0.18px rgba(255,255,255,0.62),
    53.58vw 66.65vh 0px 0.21px rgba(255,255,255,0.47),
    90.03vw 14.67vh 0px 0.20px rgba(255,255,255,0.54),
    43.08vw 75.02vh 0px 0.11px rgba(255,255,255,0.64),
    65.98vw 71.82vh 0px 0.34px rgba(255,255,255,0.56),
    21.75vw 16.78vh 0px 0.19px rgba(255,255,255,0.51),
    20.49vw 37.95vh 0px 0.27px rgba(255,255,255,0.55),
    14.18vw 27.19vh 0px 0.37px rgba(255,255,255,0.58),
    7.65vw 36.13vh 0px 0.19px rgba(255,255,255,0.39),
    4.17vw 95.76vh 0px 0.30px rgba(255,255,255,0.61),
    8.51vw 11.17vh 0px 0.05px rgba(255,255,255,0.55),
    18.42vw 90.51vh 0px 0.24px rgba(255,255,255,0.68),
    31.32vw 12.78vh 0px 0.50px rgba(255,255,255,0.37),
    53.84vw 46.50vh 0px 0.02px rgba(255,255,255,0.35),
    13.84vw 99.02vh 0px 0.38px rgba(255,255,255,0.47),
    27.97vw 96.57vh 0px 0.19px rgba(255,255,255,0.31),
    0.77vw 87.89vh 0px 0.36px rgba(255,255,255,0.43),
    6.13vw 46.56vh 0px 0.48px rgba(255,255,255,0.49),
    21.80vw 38.28vh 0px 0.15px rgba(255,255,255,0.30),
    72.48vw 43.66vh 0px 0.29px rgba(255,255,255,0.63),
    18.68vw 88.65vh 0px 0.23px rgba(255,255,255,0.55),
    85.88vw 70.50vh 0px 0.04px rgba(255,255,255,0.33),
    62.33vw 70.22vh 0px 0.19px rgba(255,255,255,0.47),
    12.98vw 45.98vh 0px 0.26px rgba(255,255,255,0.59),
    45.96vw 16.80vh 0px 0.08px rgba(255,255,255,0.31),
    72.51vw 43.85vh 0px 0.47px rgba(255,255,255,0.49),
    66.85vw 76.16vh 0px 0.20px rgba(255,255,255,0.53),
    34.22vw 40.76vh 0px 0.48px rgba(255,255,255,0.65),
    89.45vw 22.36vh 0px 0.10px rgba(255,255,255,0.64),
    68.45vw 54.65vh 0px 0.11px rgba(255,255,255,0.31),
    15.32vw 92.26vh 0px 0.38px rgba(255,255,255,0.36),
    73.63vw 81.17vh 0px 0.15px rgba(255,255,255,0.57),
    44.94vw 81.85vh 0px 0.45px rgba(255,255,255,0.65),
    35.24vw 93.87vh 0px 0.43px rgba(255,255,255,0.32),
    52.62vw 43.69vh 0px 0.19px rgba(255,255,255,0.46),
    16.82vw 78.19vh 0px 0.42px rgba(255,255,255,0.63),
    30.61vw 17.02vh 0px 0.33px rgba(255,255,255,0.41),
    92.14vw 64.08vh 0px 0.03px rgba(255,255,255,0.65),
    62.71vw 48.67vh 0px 0.00px rgba(255,255,255,0.38),
    27.72vw 68.91vh 0px 0.12px rgba(255,255,255,0.37),
    94.11vw 21.15vh 0px 0.00px rgba(255,255,255,0.33),
    77.87vw 20.37vh 0px 0.22px rgba(255,255,255,0.60),
    16.44vw 89.69vh 0px 0.16px rgba(255,255,255,0.48),
    66.59vw 35.11vh 0px 0.10px rgba(255,255,255,0.64),
    43.87vw 97.78vh 0px 0.14px rgba(255,255,255,0.38),
    15.64vw 53.44vh 0px 0.43px rgba(255,255,255,0.60),
    54.82vw 19.33vh 0px 0.26px rgba(255,255,255,0.63),
    6.43vw 31.91vh 0px 0.17px rgba(255,255,255,0.45),
    79.45vw 33.95vh 0px 0.02px rgba(255,255,255,0.38),
    2.28vw 83.44vh 0px 0.24px rgba(255,255,255,0.67),
    17.17vw 42.10vh 0px 0.33px rgba(255,255,255,0.38),
    54.87vw 96.03vh 0px 0.30px rgba(255,255,255,0.56),
    7.65vw 11.85vh 0px 0.11px rgba(255,255,255,0.36),
    73.04vw 7.12vh 0px 0.24px rgba(255,255,255,0.47),
    4.83vw 83.19vh 0px 0.47px rgba(255,255,255,0.46),
    71.07vw 14.81vh 0px 0.09px rgba(255,255,255,0.57),
    13.70vw 33.95vh 0px 0.41px rgba(255,255,255,0.68),
    17.01vw 32.81vh 0px 0.31px rgba(255,255,255,0.49),
    73.09vw 95.43vh 0px 0.44px rgba(255,255,255,0.59),
    47.96vw 50.18vh 0px 0.11px rgba(255,255,255,0.50),
    44.40vw 14.65vh 0px 0.39px rgba(255,255,255,0.42),
    56.34vw 87.61vh 0px 0.34px rgba(255,255,255,0.34),
    76.99vw 41.76vh 0px 0.05px rgba(255,255,255,0.41),
    48.15vw 45.79vh 0px 0.20px rgba(255,255,255,0.49),
    77.85vw 9.52vh 0px 0.08px rgba(255,255,255,0.52),
    78.28vw 49.10vh 0px 0.12px rgba(255,255,255,0.58),
    55.39vw 56.65vh 0px 0.48px rgba(255,255,255,0.65),
    41.90vw 16.57vh 0px 0.15px rgba(255,255,255,0.67),
    67.50vw 44.00vh 0px 0.04px rgba(255,255,255,0.62),
    79.11vw 95.26vh 0px 0.45px rgba(255,255,255,0.47),
    87.67vw 47.66vh 0px 0.22px rgba(255,255,255,0.30),
    77.79vw 30.50vh 0px 0.35px rgba(255,255,255,0.45),
    87.49vw 60.72vh 0px 0.05px rgba(255,255,255,0.58);
}

.starfield::after {
  width: 1px;
  height: 1px;
  box-shadow:
    51.22vw 84.13vh 0px 0.87px rgba(255,255,255,0.80),
    86.35vw 32.42vh 0px 0.75px rgba(255,255,255,0.51),
    13.31vw 91.91vh 0px 0.57px rgba(255,255,255,0.79),
    63.12vw 27.05vh 0px 0.54px rgba(255,255,255,0.72),
    82.42vw 95.95vh 0px 0.67px rgba(255,255,255,0.68),
    6.25vw 80.30vh 0px 0.92px rgba(255,255,255,0.60),
    53.81vw 15.82vh 0px 0.64px rgba(255,255,255,0.62),
    4.84vw 93.81vh 0px 0.72px rgba(255,255,255,0.54),
    58.78vw 40.88vh 0px 1.00px rgba(255,255,255,0.75),
    21.95vw 5.44vh 0px 0.66px rgba(255,255,255,0.72),
    19.07vw 0.86vh 0px 0.69px rgba(255,255,255,0.70),
    95.00vw 22.97vh 0px 0.87px rgba(255,255,255,0.79),
    12.69vw 52.02vh 0px 0.90px rgba(255,255,255,0.76),
    70.03vw 50.46vh 0px 0.67px rgba(255,255,255,0.77),
    64.24vw 29.54vh 0px 0.68px rgba(255,255,255,0.61),
    25.34vw 18.48vh 0px 0.84px rgba(255,255,255,0.66),
    79.94vw 47.12vh 0px 0.53px rgba(255,255,255,0.80),
    74.86vw 80.66vh 0px 0.93px rgba(255,255,255,0.56),
    69.56vw 99.96vh 0px 0.93px rgba(255,255,255,0.55),
    36.27vw 63.10vh 0px 0.65px rgba(255,255,255,0.66),
    0.28vw 10.94vh 0px 0.60px rgba(255,255,255,0.63),
    63.08vw 87.51vh 0px 0.64px rgba(255,255,255,0.79),
    93.33vw 85.26vh 0px 0.90px rgba(255,255,255,0.62),
    47.56vw 3.58vh 0px 0.57px rgba(255,255,255,0.52),
    6.52vw 18.85vh 0px 0.77px rgba(255,255,255,0.50),
    80.51vw 1.85vh 0px 0.75px rgba(255,255,255,0.55),
    81.10vw 44.48vh 0px 0.82px rgba(255,255,255,0.71),
    10.16vw 4.30vh 0px 0.88px rgba(255,255,255,0.72),
    56.97vw 85.95vh 0px 0.56px rgba(255,255,255,0.67),
    56.31vw 6.52vh 0px 0.58px rgba(255,255,255,0.55),
    32.26vw 1.33vh 0px 0.89px rgba(255,255,255,0.76),
    47.25vw 45.08vh 0px 0.74px rgba(255,255,255,0.77),
    44.44vw 99.89vh 0px 0.72px rgba(255,255,255,0.64),
    53.85vw 17.96vh 0px 0.98px rgba(255,255,255,0.77),
    33.19vw 24.61vh 0px 0.53px rgba(255,255,255,0.66),
    78.45vw 48.83vh 0px 0.58px rgba(255,255,255,0.62),
    77.66vw 34.63vh 0px 0.63px rgba(255,255,255,0.62),
    56.98vw 63.82vh 0px 0.70px rgba(255,255,255,0.53),
    48.03vw 16.38vh 0px 0.51px rgba(255,255,255,0.70),
    89.86vw 10.88vh 0px 0.69px rgba(255,255,255,0.64),
    4.45vw 14.96vh 0px 0.90px rgba(255,255,255,0.56),
    88.39vw 71.19vh 0px 0.71px rgba(255,255,255,0.53),
    99.72vw 31.81vh 0px 0.52px rgba(255,255,255,0.65),
    66.62vw 98.30vh 0px 0.72px rgba(255,255,255,0.62),
    28.21vw 34.98vh 0px 0.67px rgba(255,255,255,0.72),
    85.54vw 74.69vh 0px 0.63px rgba(255,255,255,0.54),
    47.70vw 49.73vh 0px 0.86px rgba(255,255,255,0.61),
    3.57vw 71.49vh 0px 0.90px rgba(255,255,255,0.55),
    8.95vw 37.37vh 0px 1.00px rgba(255,255,255,0.53),
    11.76vw 60.37vh 0px 0.68px rgba(255,255,255,0.76),
    73.67vw 94.34vh 0px 0.59px rgba(255,255,255,0.76),
    8.96vw 28.66vh 0px 0.57px rgba(255,255,255,0.58),
    54.91vw 38.78vh 0px 0.85px rgba(255,255,255,0.67),
    13.94vw 63.36vh 0px 0.76px rgba(255,255,255,0.78),
    82.58vw 38.06vh 0px 0.74px rgba(255,255,255,0.77),
    26.48vw 1.62vh 0px 0.80px rgba(255,255,255,0.61),
    32.42vw 82.84vh 0px 0.54px rgba(255,255,255,0.55),
    75.96vw 93.04vh 0px 0.51px rgba(255,255,255,0.70),
    26.74vw 7.58vh 0px 0.74px rgba(255,255,255,0.62),
    92.53vw 72.28vh 0px 0.72px rgba(255,255,255,0.51),
    74.72vw 66.09vh 0px 0.61px rgba(255,255,255,0.76),
    66.89vw 59.27vh 0px 0.72px rgba(255,255,255,0.53),
    55.05vw 40.00vh 0px 0.88px rgba(255,255,255,0.61),
    95.59vw 76.66vh 0px 0.65px rgba(255,255,255,0.58),
    66.35vw 27.50vh 0px 0.62px rgba(255,255,255,0.73),
    66.69vw 27.09vh 0px 0.84px rgba(255,255,255,0.66),
    63.03vw 8.56vh 0px 0.85px rgba(255,255,255,0.69),
    81.51vw 51.84vh 0px 0.72px rgba(255,255,255,0.76),
    87.65vw 26.56vh 0px 0.75px rgba(255,255,255,0.79),
    73.41vw 89.81vh 0px 0.52px rgba(255,255,255,0.59),
    20.11vw 77.47vh 0px 0.69px rgba(255,255,255,0.66),
    53.07vw 25.93vh 0px 0.75px rgba(255,255,255,0.54),
    72.61vw 73.33vh 0px 0.89px rgba(255,255,255,0.64),
    14.63vw 92.56vh 0px 0.61px rgba(255,255,255,0.74),
    37.23vw 35.65vh 0px 0.57px rgba(255,255,255,0.72),
    72.52vw 96.47vh 0px 0.78px rgba(255,255,255,0.58),
    62.50vw 2.72vh 0px 0.97px rgba(255,255,255,0.69),
    77.83vw 13.49vh 0px 0.88px rgba(255,255,255,0.54),
    70.82vw 40.91vh 0px 0.71px rgba(255,255,255,0.59),
    26.78vw 19.15vh 0px 0.94px rgba(255,255,255,0.51),
    17.90vw 47.92vh 0px 0.76px rgba(255,255,255,0.71),
    89.03vw 28.13vh 0px 0.70px rgba(255,255,255,0.56),
    93.01vw 27.86vh 0px 0.63px rgba(255,255,255,0.58),
    16.38vw 19.60vh 0px 0.70px rgba(255,255,255,0.77),
    83.44vw 9.72vh 0px 0.60px rgba(255,255,255,0.72),
    91.84vw 76.69vh 0px 0.78px rgba(255,255,255,0.56),
    38.84vw 77.22vh 0px 0.89px rgba(255,255,255,0.68),
    93.26vw 13.98vh 0px 0.95px rgba(255,255,255,0.75),
    16.55vw 65.56vh 0px 0.78px rgba(255,255,255,0.74),
    75.48vw 3.56vh 0px 0.59px rgba(255,255,255,0.59),
    28.64vw 32.88vh 0px 0.65px rgba(255,255,255,0.56),
    73.06vw 4.44vh 0px 0.80px rgba(255,255,255,0.70),
    42.84vw 6.10vh 0px 0.56px rgba(255,255,255,0.65),
    15.64vw 18.02vh 0px 0.92px rgba(255,255,255,0.64),
    32.09vw 48.93vh 0px 0.59px rgba(255,255,255,0.68),
    24.33vw 93.99vh 0px 0.56px rgba(255,255,255,0.80),
    47.58vw 25.48vh 0px 0.64px rgba(255,255,255,0.52),
    32.50vw 66.25vh 0px 0.52px rgba(255,255,255,0.52),
    52.51vw 44.78vh 0px 0.70px rgba(255,255,255,0.57),
    82.97vw 4.65vh 0px 0.94px rgba(255,255,255,0.69),
    47.46vw 92.46vh 0px 0.88px rgba(255,255,255,0.59),
    57.49vw 19.07vh 0px 0.55px rgba(255,255,255,0.79),
    87.45vw 63.99vh 0px 0.87px rgba(255,255,255,0.70),
    70.54vw 54.67vh 0px 0.89px rgba(255,255,255,0.50),
    3.86vw 63.57vh 0px 0.57px rgba(255,255,255,0.72),
    72.39vw 59.95vh 0px 0.94px rgba(255,255,255,0.67),
    23.13vw 31.00vh 0px 0.57px rgba(255,255,255,0.57),
    46.50vw 49.07vh 0px 0.67px rgba(255,255,255,0.58),
    9.94vw 23.03vh 0px 0.55px rgba(255,255,255,0.75),
    69.16vw 64.08vh 0px 0.96px rgba(255,255,255,0.53),
    46.78vw 58.74vh 0px 0.94px rgba(255,255,255,0.76),
    70.87vw 37.03vh 0px 0.57px rgba(255,255,255,0.67),
    8.86vw 86.04vh 0px 0.82px rgba(255,255,255,0.74),
    59.99vw 48.23vh 0px 0.85px rgba(255,255,255,0.76),
    22.79vw 1.07vh 0px 0.99px rgba(255,255,255,0.72),
    8.03vw 60.66vh 0px 0.79px rgba(255,255,255,0.76),
    36.44vw 93.49vh 0px 0.58px rgba(255,255,255,0.72),
    87.58vw 45.16vh 0px 0.68px rgba(255,255,255,0.77),
    37.20vw 32.53vh 0px 0.80px rgba(255,255,255,0.62),
    11.80vw 82.50vh 0px 0.52px rgba(255,255,255,0.76);
}

.starfield .stars-large {
  width: 1px;
  height: 1px;
  box-shadow:
    89.19vw 91.22vh 0px 1.96px rgba(255,255,255,0.70),
    19.80vw 64.40vh 0px 1.70px rgba(255,255,255,1.00),
    25.74vw 20.32vh 0px 1.30px rgba(255,255,255,0.85),
    14.26vw 74.21vh 0px 1.92px rgba(255,255,255,0.99),
    24.10vw 40.67vh 0px 1.49px rgba(255,255,255,0.86),
    40.82vw 80.39vh 0px 1.94px rgba(255,255,255,0.79),
    71.59vw 38.72vh 0px 1.38px rgba(255,255,255,0.72),
    88.15vw 86.76vh 0px 1.73px rgba(255,255,255,0.80),
    1.79vw 90.11vh 0px 1.36px rgba(255,255,255,0.74),
    59.90vw 50.85vh 0px 1.67px rgba(255,255,255,0.86),
    49.39vw 98.14vh 0px 1.71px rgba(255,255,255,0.92),
    3.24vw 30.43vh 0px 1.33px rgba(255,255,255,0.77),
    62.90vw 28.05vh 0px 1.53px rgba(255,255,255,0.83),
    62.88vw 18.41vh 0px 1.01px rgba(255,255,255,0.85),
    70.82vw 74.60vh 0px 1.18px rgba(255,255,255,0.92),
    61.24vw 29.93vh 0px 1.28px rgba(255,255,255,0.79),
    28.17vw 6.52vh 0px 1.82px rgba(255,255,255,0.76),
    87.08vw 8.25vh 0px 1.16px rgba(255,255,255,0.87),
    93.57vw 58.64vh 0px 1.12px rgba(255,255,255,0.82),
    17.95vw 60.64vh 0px 1.75px rgba(255,255,255,0.75),
    75.41vw 91.50vh 0px 1.17px rgba(255,255,255,0.83),
    6.80vw 56.09vh 0px 1.29px rgba(255,255,255,0.80),
    1.77vw 57.37vh 0px 1.82px rgba(255,255,255,0.95),
    66.10vw 18.35vh 0px 1.19px rgba(255,255,255,0.80),
    37.67vw 61.97vh 0px 1.70px rgba(255,255,255,0.76);
  filter: drop-shadow(0 0 4px rgba(255,255,255,0.4));
}

.bg-blur {
  position: fixed;
  inset: 0;
  z-index: -2;
  pointer-events: none;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  background: rgba(2, 6, 23, 0.08);
}
